body {
    background-color: rgb(37, 39, 43);
}




span {
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

input {
    background-color: rgb(68, 70, 74);
    border-radius: 30px;
    color: white;
    width: 800px;
    height: 50px;
    font-size: 20px;
}


button {
    font-size: 25px;
    border-color: darkgray;
    border-radius: 30px;
    background-color:rgb(37, 39, 43) ;
    color: white;
    
}

pre {
    color: white;
}