header {
    height: 70px;
    
}

#navbar {
    height: 30px;
}

pre {
    color: white;
    text-align: right;
}

#sign {
    background-color: deepskyblue;
    color: black;
}

img {
    width: 15px;
    background-color:rgb(37, 39, 43) ;
    
}


h1 {
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: rgb(37, 39, 43);
}


input {
    width: 520px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
    color: white;
    background-color:rgb(37, 39, 43) ;
    border-color: white;
    text-align: left;
       
}

#offered {
    color: white;
    height: 160px;
}

a {
    color: blue;
}

button {
    background-color: rgb(68, 70, 74);
    color: white;
} 

#footer {
    text-align: left;
}

footer {
    background-color: rgb(29, 28, 28);
}

#aze,#about {
    color: darkgrey;
}


  
